body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    height: auto;
    background-color: rgb(247, 247, 247);
}
#main {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}
#left {
    background-image: url("background1.jpg");
    background-size: max(50vw, 2000px) auto;
    background-repeat: no-repeat;
    height: auto;
    padding-top: max(50px, 20vh);
    width: max(50vw, 250px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#logo {
    height: 130px;
    margin: 10vh;
    background-color: rgba(0, 0, 0, 0.500);
    width: max(50vw, 250px);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#logo > h1 {
    font-size: 70px;
    transform: scale(.9, 1);
}
#logo > img {
    height: 48px;
    width: 48px;
    background-color: white;
}
#left > p {
    font-size: 12px;
    padding-block: 5px;
    margin: 0;
    width: max(50vw, 250px);
    background-color: rgba(0, 0, 0, 0.500);
    text-align: right;
}
#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: max(220px, 15vh);
    padding-bottom: max(310px, 15vh);
    width: 100vw;
    height: auto;
}
form > div {
    padding-left: 10px;
}
#top {
    width: 600px;
    font-size: 22px;
    font-weight: bold;
}
#far {
    margin-bottom: 10px;
}
#mid {
    height: 230px;
    padding-bottom: 10px;
    width: max(650px, auto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mid > h2 {
    margin-top: 8px;
    margin-bottom: 30px; 
    font-size: 22px;
}
#forms {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.input {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}
.input > p {
    font-size: 10px;
    margin: 0;
    margin-top:2px;
    margin-bottom: -11px;
    color: white;
}
input {
    width: 220px;
    height: 25px;
    border-width: 1px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
}
input:focus {
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
}
label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
#bot {
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}
#bot > p {
    margin: 0;
    font-size: 14px;
}
button {
    background-color: rgb(63, 63, 63);
    width: 226px;
    height: 40px;
    color: white;
    border-style: none;
    font-weight: bold;
    font-size: 14px;
}
button:active {
    background-color: rgb(83, 83, 83);
}
a {
    color: black;
}